.form {
  & .form__group {
    margin-bottom: 0;

    & input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rbga(#fff, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      transition: all 0.3s;

      &:focus {
        outline: none;
        border: none;
        padding-bottom: 1.5rem;
        border-bottom: 3px solid $color-primary;

        &:invalid {
          border-bottom: 3px solid orangered;
        }
      }

      &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
      }
    }

    & label {
      font-size: 1.2rem;
      margin: 1.5rem;
      display: block;
      transition: all 0.3s;
    }

    &-radiobtn {
      display: inline-block;
      width: 49%;
      position: relative;
      input{
        visibility: hidden;
        &#radio-btn1 , &#radio-btn2{
            margin-right: 3rem;
            transition: opacity .2s;
            &:checked ~ label .formbtn:after{
              opacity:1;
            }
          }
      }

    label{

      .formbtn{
        content: "";
        width:3rem;
        height: 3rem;
        border-radius: 50%;
        border:5px solid $color-primary;
        position: absolute;
        left: 0;
        &:after{
          content:" ";
          width:1.3rem;
          height:1.3rem;
          border-radius: 50%;
          background-color:$color-primary;
          position: absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          opacity: 0;

        }


      }

    }
  }
}
}
