
@keyframes main-text {
0%{
transform: translateX(-15rem);
opacity: 0;
}
60%{
transform: translateX(2rem);
}
100%{
  transform: translateX(0rem);
  opacity: 1;
}
}

@keyframes sub-text {
0%{
transform: translateX(20rem);
opacity: 0;
}
60%{
transform: translateX(-5rem);
}
100%{
  transform: translateX(0rem);
  opacity: 1;
}
}
